
  <section id="home">
    <div class="homebox" id="karate">
      <img src="../assets/images/karate.jpg" alt="karate">
      <h1>KARATE</h1>
      <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore unde voluptatum, consequatur
        perspiciatis veritatis officia enim corporis facere eveniet accusamus cum eaque culpa dicta odit
        repudiandae minima porro asperiores autem debitis, magnam velit earum. Distinctio laborum architecto
        dolor aspernatur consectetur temporibus ad earum veniam vitae fugit? Quam obcaecati temporibus aut.</P>
    </div>
    <div class="homebox" id="zumba">
      <img src="../assets/images/zumba-4320907_1920.jpg" alt=" zumba">
      <h1>ZUMBA</h1>
      <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et quos mollitia blanditiis nulla quisquam,
        dolorem, qui quasi at dignissimos eligendi voluptates excepturi laboriosam. Dignissimos quaerat ipsum
        excepturi quos, quas at cupiditate illo non commodi necessitatibus eos praesentium quibusdam quasi hic
        maxime nesciunt nobis eveniet odit porro recusandae, debitis officia perferendis.</P>
    </div>
    <div class="homebox" id="cardio"><img src="../assets/images/cardio.jpg" alt=" cardio">
      <h1>CARDIO</h1>
      <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et quos mollitia blanditiis nulla quisquam,
        dolorem, qui quasi at dignissimos eligendi voluptates excepturi laboriosam. Dignissimos quaerat ipsum
        excepturi quos, quas at cupiditate illo non commodi necessitatibus eos praesentium quibusdam quasi hic
        maxime nesciunt nobis eveniet odit porro recusandae, debitis officia perferendis.</P>
    </div>
    <div class="homebox" id="aerobic"><img src="../assets/images/acrobat-332047_1920.jpg" alt=" aerobic">
      <h1>AEROBIC</h1>
      <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et quos mollitia blanditiis nulla quisquam,
        dolorem, qui quasi at dignissimos eligendi voluptates excepturi laboriosam. Dignissimos quaerat ipsum
        excepturi quos, quas at cupiditate illo non commodi necessitatibus eos praesentium quibusdam quasi hic
        maxime nesciunt nobis eveniet odit porro recusandae, debitis officia perferendis.</P>
    </div>
    <div class="homebox" id="yoga"><img src="../assets/images/yoga2.jpg" alt="yoga">
      <h1>YOGA</h1>
      <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et quos mollitia blanditiis nulla quisquam,
        dolorem, qui quasi at dignissimos eligendi voluptates excepturi laboriosam. Dignissimos quaerat ipsum
        excepturi quos, quas at cupiditate illo non commodi necessitatibus eos praesentium quibusdam quasi hic
        maxime nesciunt nobis eveniet odit porro recusandae, debitis officia perferendis.</P>
    </div>
    <div class="homebox" id="dance"><img src="../assets/images/dance.jpg" alt=" dance">
      <h1>DANCE</h1>
      <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et quos mollitia blanditiis nulla quisquam,
        dolorem, qui quasi at dignissimos eligendi voluptates excepturi laboriosam. Dignissimos quaerat ipsum
        excepturi quos, quas at cupiditate illo non commodi necessitatibus eos praesentium quibusdam quasi hic
        maxime nesciunt nobis eveniet odit porro recusandae, debitis officia perferendis.</P>
    </div>
    <div class="homebox" id="music"><img src="../assets/images/singing.avif" alt="music">
      <h1>MUSIC</h1>
      <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et quos mollitia blanditiis nulla quisquam,
        dolorem, qui quasi at dignissimos eligendi voluptates excepturi laboriosam. Dignissimos quaerat ipsum
        excepturi quos, quas at cupiditate illo non commodi necessitatibus eos praesentium quibusdam quasi hic
        maxime nesciunt nobis eveniet odit porro recusandae, debitis officia perferendis.</P>
    </div>
  </section>
  <section id="about">
    <div id="abouthadding">ABOUT</div>
    <div class="about">
      <h1><strong id="position">Registration No.</strong> 2453 </h1>
      <h1><strong id="position">Certified By.</strong> ISO 9001.2015 </h1>
      <h1><strong id="position">Instructor.</strong> Sempai Shubham Kannojiya <strong id="position2">1st Den Black Belt
        </strong></h1>
      <h1><strong id="position">Services.</strong> Home Training & School Training Available</h1>
      <h1><strong id="position">location.</strong> D-16/20, Man Mandir, Dashshwamedh varanasi</h1>
    </div>
  </section>
  <section id="SERVICES">
    <div class="services">
      <h1>Home Training</h1>
    </div>
    <div class="services">School Training</div>
  </section>